body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
    background: #fff;
    border: crimson;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid crimson;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: crimson;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   crimson;
    margin-left: 5px;
}

.hide{
    display:none;
}

/* logo */

.navbar .logo a{
    color: #000;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;

}
.navbar.sticky .logo a span{
    color: #000;
}
